---
import Layout from "../../layouts/Layout.astro";
import CardCasino from "../../components/casino/CardCasino";
import PreferedCasinos from "../../components/preferences/PreferedCasinos";

import { getUser } from "../../lib/auth";
const user = await getUser(Astro.request);
if (!user) {
  return Astro.redirect("/login");
}

import {
  getPreferencias,
  getPreferedCasinos,
  getAllCasinos,
} from "../../lib/api";
let preferencias = await getPreferencias(user.id);
let allcasinos = await getAllCasinos();
let casinos = await getPreferedCasinos(preferencias.casinos);
---

<Layout title="Admin" description="Admin">
  <main class="mx-10">
    <PreferedCasinos
      user_id={user.id}
      allcasinos={allcasinos}
      user_casinos={preferencias.casinos}
      client:load
    />
    {
      casinos.length > 0 && (
        <div>
          <h2 class="text-2xl font-bold py-4">Mis Casinos Preferidos</h2>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
            {casinos.map((casino) => (
              <CardCasino casino={casino} />
            ))}
          </div>
        </div>
      )
    }
  </main>
</Layout>
