---
import Layout from "../../layouts/Layout.astro";
import CardCasino from "../../components/casino/CardCasino";
import { getAllCasinos } from "../../lib/api";

let casinos = await getAllCasinos();
---

<Layout title="Torneos Poker - Casinos" description="Todos los casinos">
  <main class="mx-5">
    <h1 class="text-2xl font-bold py-4">Casinos</h1>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4"
    >
      {casinos.map((casino) => <CardCasino casino={casino} />)}
    </div>
  </main>
</Layout>
