---
import Layout from "../layouts/Layout.astro";
import { ArenguForm } from "react-arengu-forms";
---

<Layout title="Contacto" description="Contacto">
  <main class="mx-5 flex flex-col items-center">
    <h2 class="text-2xl font-bold py-4">Contacto</h2>
    <script async src="https://sdk.arengu.com/forms.js"></script>
    <div class="w-full"><ArenguForm id="166253932084037672" client:load /></div>
  </main>
</Layout>
