---
import Layout from "../layouts/Layout.astro";
import RowTournament from "../components/tournament/RowTournament";
import LinkButton from "../components/elements/LinkButton";
import CardEvento from "../components/evento/CardEvento";

import {
  getProximosTorneosPaginated,
  getAllCasinos,
  getCurrentEvents,
  getNextEvents,
} from "../lib/api";

let torneos = await getProximosTorneosPaginated(0, 7);
let currentevents = await getCurrentEvents();
let nextevents = await getNextEvents();
---

<Layout
  title="Torneos Poker"
  description="Informaci칩n actualizada sobre torneos de Poker en Espa침a"
>
  <main class="mx-5">
    <h2 class="text-2xl font-bold py-4">Eventos en juego</h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-5"
    >
      {currentevents.map((event) => <CardEvento evento={event} />)}
    </div>

    <h2 class="text-2xl font-bold py-4">Pr칩ximos Torneos</h2>
    <div class="space-y-1">
      {
        torneos?.map((torneo) => (
          <RowTournament torneo={torneo} casino="true" event="true" />
        ))
      }
    </div>
    <div class="text-right mt-4 mb-5">
      <LinkButton href="/torneos">Ver Todos</LinkButton>
    </div>

    <h2 class="text-2xl font-bold py-4">Pr칩ximos Eventos</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
      {nextevents.map((event) => <CardEvento evento={event} />)}
    </div>
  </main>
</Layout>
