---
const { casino } = Astro.props;
let bg = casino.color;
---

<div class="rounded overflow-hidden shadow-lg">
  <div class="text-center p-10" style={{ backgroundColor: bg }}>
    <img class="mx-auto" src={casino.logo} alt={casino.name} />
  </div>
  <div class="px-6 py-4">
    <a href={"/casino/" + casino.id} class="font-bold text-xl mb-2"
      >{casino.name}
    </a>
    <p class="text-gray-700 text-base">
      {casino.address}
    </p>
  </div>
</div>
