---
const { torneo } = Astro.props;
---

<a
  href={"/torneo/" + torneo.id}
  class="w-100 flex justify-between bg-slate-50 hover:bg-slate-100 p-5"
>
  <div class="flex gap-10">
    <div class="date">
      {torneo.date}
    </div>
    <div class="name">
      {torneo.name}
    </div>
  </div>
  <div class="prize">
    {torneo.prize}€
  </div>
</a>
