---
import Analytics from "@julian_cataldo/astro-analytics/Analytics.astro";
import { inject } from '@vercel/analytics';

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props as Props;
import "../styles/style.css";
const GAID = import.meta.env.PUBLIC_GAID;
inject();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="apple-touch-icon" href="/logo_192.png" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    {GAID && <Analytics id={GAID} />}
    {
      Astro.url.pathname == "/contacto" && (
        <script async src="https://sdk.arengu.com/forms.js" async />
      )
    }
  </head>
  <body>
    <div class="flex flex-col h-screen justify-between">
      <Header />
      <div class="mb-auto"><slot /></div>
      <Footer />
    </div>
  </body>
</html>
