---
import Analytics from "@julian_cataldo/astro-analytics/Analytics.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props as Props;
import "../styles/style.css";
const GAID = import.meta.env.PUBLIC_GAID;
const ADSENSEID = import.meta.env.PUBLIC_ADSENSEID;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <Analytics id={GAID} />
    <script async src="https://sdk.arengu.com/forms.js"></script>
    <script
      async
      src={"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=" +
        ADSENSEID}
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="flex flex-col h-screen justify-between">
      <Header />
      <div class="mb-auto"><slot /></div>
      <Footer />
    </div>
  </body>
</html>
