---
const { isLoggedIn } = Astro.props;
---

<div class="text-lg pt-5">
  {
    isLoggedIn ? (
      <div class="flex gap-2">
        <a href="/preferencias" class="underline">
          Mis Preferencias
        </a>
        <a href="/logout" class="underline">
          Salir
        </a>
      </div>
    ) : (
      <div>
        <a href="/login" class="underline">
          Entrar
        </a>
      </div>
    )
  }
</div>
